as
.vagrant/
yum-save*
vagrant-shell
.font-unix/
.ICE-unix/
.Test-unix/
.X11-unix/
.XIM-unix/
tmp*
vbox*
access.tfvars
.terraform
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
aws_inventory_ips.txt
.terraform.tfstate.lock.info
.terraform*
id_rsa
id_rsa.pub